<ion-view view-title="Track">
  <ion-content class="padding">



         <script type="text/javascript">


          var mapbucket = [];
       // you can specify the default lat long
       var map,
           currentPositionMarker,
           mapCenter = new google.maps.LatLng(14.668626, 121.24295),
           map;

       // change the zoom if you want
       function initializeMap()
       {
           map = new google.maps.Map(document.getElementById('map_canvas'), {
              zoom: 18,
              center: mapCenter,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });
       }

       function locError(error) {
           // tell the user if the current position could not be located
           alert("The current position could not be found!");
       }

       // current position of the user
       function setCurrentPosition(pos) {
           currentPositionMarker = new google.maps.Marker({
               map: map,
               position: new google.maps.LatLng(
                   pos.coords.latitude,
                   pos.coords.longitude
               ),
               title: "Current Position"
           });
           map.panTo(new google.maps.LatLng(
                   pos.coords.latitude,
                   pos.coords.longitude
               ));
       }

       function displayAndWatch(position) {

           // set current position
           setCurrentPosition(position);

           // watch position
           watchCurrentPosition();
       }

       function watchCurrentPosition() {
           let options = {frequency: 5000 };
           var positionTimer = navigator.geolocation.watchPosition(
               function (position) {

                 mapbucket.push({lat:position.coords.latitude,lng:position.coords.longitude});

                 $("#bucket").html(mapbucket);
                 console.log("ticking and bucket is ", mapbucket);

                 var flightPath = new google.maps.Polyline({
                 path: mapbucket,
                 geodesic: true,
                 strokeColor: '#000000',
                 strokeOpacity: 1.0,
                 strokeWeight: 2
                });

                flightPath.setMap(map);


                   setMarkerPosition(
                       currentPositionMarker,
                       position
                   );
               }, null, options);
       }

       function setMarkerPosition(marker, position) {
           marker.setPosition(
               new google.maps.LatLng(
                   position.coords.latitude,
                   position.coords.longitude)
           );
       }

       function initLocationProcedure() {
           initializeMap();
           if (navigator.geolocation) {
               navigator.geolocation.getCurrentPosition(displayAndWatch, locError);
           } else {
               // tell the user if a browser doesn't support this amazing API
               alert("Your browser does not support the Geolocation API!");
           }
       }

       // initialize with a little help of jQuery
       $(document).ready(function() {

           initLocationProcedure();
           watchCurrentPosition();
       });

          // initialize with a little help of jQuery
          $(document).ready(function() {
             initLocationProcedure();
          });
          </script>
       </head>
       <body style="margin:0; padding:0;">

       <!-- display the map here, you can changed the height or style -->
          <div id="map_canvas" style="height:25em; margin:0; padding:0;"></div>

  </ion-content>
  <!-- for mobile view -->

</ion-view>
