<ion-view view-title="Saved">
  <ion-content class="main-background">

<div id="title">

</div>


<div class="list">


       <a class="item item-thumbnail-left">
       <img src="img/Holbert.png">
      <h3>5/31/17 Holbert Trail So Mtn Phoenix </h3>
      <p>Time  1:53  </p>
    </a>

    <a class="item item-thumbnail-left" href="#">
    <img src="img/national.png">
    <h3>3/2/17 National Trail Phoenix, Az</h3>
    <p>Time  1:40

   </p> </p>

    </a>

    <a class="item item-thumbnail-left" href="#">
     <img src="img/lookoutmtn.png">
     <h3>1/29/17 Lookout Mtn Phoenix, Az</h3>
     <p>Time  1:21   </p>
    </a>


        <a class="item item-thumbnail-left" href="#">
         <img src="img/telegraphpass.png">
         <h3>1/29/17 Telegraph Pass Phoenix, Az</h3>
         <p>Time  3:01  </p>
        </a>

</div>




  </ion-content>
  <!-- for mobile view -->

</ion-view>




<ion-content>

<!--     <div class="list">

      <a ng-repeat="item in items"
          href="#/{{item.id}}"
          class="item item-thumbnail-left">

         <img ng-src="{{ item.image }}">
         <h2>{{ item.album }}</h2>
         <h4>{{ item.artist }}</h4>
      </a>

     </div>

   </ion-content>

 </body>
</html>-->
