<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view id="background"></ion-view>
<ion-view hide-back-button="true">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Track" icon="ion-map" ui-sref="/track">
            <ion-nav-view name="track-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Login" icon="ion-chatboxes" ui-sref="/login">
            <ion-nav-view name="login-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Nearby" icon="ion-ios-people" ui-sref="tabs.buddies">
            <ion-nav-view name="none"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Trails" icon="ion-checkmark" ui-sref="trails">
            <ion-nav-view name="trails-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
